.carga-search{
  position: absolute;
  top: 50%;
  left: 45%;
  color:#a6a6a6;
  font-size:3rem;
  animation :search 2s infinite;
}

@keyframes search {
 0%{
  top: 54%;
 }
  50%{
    top: 50%;
    
    transform:rotate(30deg)
  }
  100%{
    top: 54%;

  }
}


.stop{
  display:none;
}